<div class="scrollify"
    hj-scrollify="pane in data.panes"
    hj-scrollify-options="{
        id: 'myScrollify'
    }">

    <div class="{[{pane.classes}]}">
            <h2>{[{pane.heading}]}</h2>
    </div>


</div>

<div class="top" ng-click="top()">☝︎</div>




<!--         <div class="section group">
            <div class="col span_1_of_2 white-40">
            {[{pane.col1}]}
            </div>
            <div class="col span_1_of_2 white-80">
            {[{pane.col2}]}
            </div>
        </div>

        <div class="section group">
            <div class="col span_1_of_6">
            1 of 6
            </div>
            <div class="col span_1_of_6">
            1 of 6
            </div>
            <div class="col span_1_of_6">
            1 of 6
            </div>
            <div class="col span_1_of_6">
            1 of 6
            </div>
            <div class="col span_1_of_6">
            1 of 6
            </div>
            <div class="col span_1_of_6">
            1 of 6
            </div>
        </div> -->